<footer class="footer">
  <div class="social">
    <ul class="social__list">
      <li class="social__item">
        <a href="https://vk.com/yeffasol" target="_blank" class="social__link  social__link--vk"><span>в контакте</span>
          <i class="fa fa-vk"></i>
        </a>
      </li>
      <li class="social__item">
        <a href="https://github.com/yeffasol" target="_blank"
           class="social__link  social__link--github"><span>github</span>
          <i class="fa fa-github"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
