<header class="header">
  <div class="container">
    <div class="header__block header__block--left">
      <div class="logo"><img src="assets/img/avatar.jpg" width="60"/></div>
      <p>Марат Шаймарданов</p>
    </div>
    <div class="header__block header__block--right">
      <div class="contacts">
        <div class="contacts__title"><span>Мои контакты</span><i class="fa fa-phone"></i></div>
        <div class="contacts__hidden-block">
          <ul class="contacts__list">
            <li class="contacts__item contacts__item--email"><i class="fa fa-envelope"></i><a href="mailto:tatarchap@gmail.com">tatarchap@gmail.com</a></li>
            <li class="contacts__item contacts__item--phone"><i class="fa fa-phone"></i><a href="tel:+79274285812">+79274285812</a></li>
            <li class="contacts__item contacts__item--skype"><i class="fa fa-skype"></i><a href="skype:klonip?call">klonip</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>