<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item  menu__item--user"><i class="fa fa-user-secret"></i><a class="menu__link" href="{{'about.html' | prepend: site.baseurl}}">Обо мне</a></li>
    <li class="menu__item  menu__item--certificate"><i class="fa fa-rocket"></i><a href="certificate.html" class="menu__link">Сертификаты</a></li>
    <li class="menu__item  menu__item--portfolio"><i class="fa fa-briefcase"></i><a href="portfolio.html" class="menu__link">Портфолио</a></li>
  </ul>
</nav>